<div class="redes">
    <a href="https://ca-es.facebook.com/"><img src="/img/facebook.png" alt="#"></a>
    <a href="https://www.youtube.com/user/SFEthnicDanceFest"><img src="/img/youtube.png" alt="#"></a>
    <a href="https://twitter.com/?lang=ca"><img src="/img/twitter.png" alt="#"></a>
    <a href="https://www.instagram.com/?hl=es"><img src="/img/instagram.png" alt="#"></a>
</div>

<div class="telefono">
    <a href="#"><img src="/img/telf.png" alt="#"></a>
    <p> 917 33 36 95 &#124; merakibcn2018.com </p>
</div>


<div class="organiza">
    <p> Organiza:</p>
    <a href="http://www.cioff.org/index.cfm?lng=es"><img src="/img/cioff.png" alt="cioff"></a>
</div>


<div class="colaboradores">
    <p> Colabora:</p>
    <a href="http://web.gencat.cat/ca/inici/"><img src="/img/catalunya.png" alt="catalunya"></a>
    <a href="http://cultura.gencat.cat/ca/inici/"><img src="/img/cultura.png" alt="cultura"></a>
    <a href="http://www.museunacional.cat/es"><img src="/img/mnac.png" alt="mnac"></a>
</div>
