<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="css/reset.css" type="text/css" rel="stylesheet" />
<link href="css/style.css" media="screen" type="text/css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="https://www.fontify.me/wf/2c01379dfd61df3ffb8099f3fdcab3bf" rel="stylesheet" type="text/css">
