<a href="#"><div class="logo"></div></a>

<nav>
    <ul class="menu">
        <li><a href="/index">Inicio</a></li>
        <li><a href="/historia">Historia</a></li>
        <li><a href="/meraki">Meraki</a>
            <ul>
                <li><a href="">Paises participantes</a></li>
                <li><a href="">Ubicación</a></li>
            </ul>
        </li>
        <li><a href="/programa">Programa</a></li>
        <li><a href="#">Tarifas</a></li>
        <li><a href="#">Contacto</a></li>
    </ul>
</nav>
<div class="area-derecha">
    <table class="buscador">
        <tr>
            <td>
                <label for="search">
                    <i class="material-icons">search</i></label>
            </td>
            <td>
                <input type="text" id="search" name="search" placeholder="" />
            </td>
        </tr>
    </table>
<table class="idioma-persona">
        <tr>
            <td>
            <ul class="idiomas">
                <li><a href="#">Esp</a></li>
                <li><a href="#">Cat</a></li>
                <li><a href="#">Ing</a></li>
            </ul>
        </td>
        <td class="person">
            <i class="material-icons">person</i>
        </td>
        </tr>
</table>
</div>
