/* Wireframe */
#wrapper {
	/*background-image: url('../../img/wireframe4.jpg');*/
}

/* Main content */
main.programa {
	background-image: url('../../img/backgroundsencillo.jpg');
}

/* Content div */
main > div.programa {
    /*background-color: pink;*/
	top: 34px;
    width: 100%;
	position: relative;
	padding-left: 49px;
	box-sizing: border-box;
}
main > div.programa > h1 {
	margin-bottom: 9px;
}

main > div.programa > div.box {
	width: 22.75%;
	height: 202px;
	overflow: hidden;
	float: left;
	margin-right: 1.125%;
	margin-top: 10px;
}

main > div.programa > div.box:hover > div.text-shadow {
	top: 0;
}

main > div.programa > div.box.large {
	width: 46.6%;
}

main > div.programa > div.box > img {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

main > div.programa > div.box > div.text-shadow {
	position: relative;
	top: -205px;
	left: -1px;
	height: 100%;
	background-color: rgba(26,21,43,0.72);
	-webkit-transition: top 0.5s
}

main > div.programa > div.box > div.text-shadow > div.text {
	color: white;
	bottom: 8px;
	left: 12px;
	position: absolute;
}

span.date {
	font-family: 'Avenir LT Std';
	font-size: 28px;
	font-weight: bold;
}

span.place {
	display: inline-block;
	font-family: 'Avenir LT Std';
	font-size: 21px;
	margin-bottom: 5px;
}

span.dancer {
	font-family: "Avenir LT Std Roman";
	font-size: 15px;
}
