<!DOCTYPE html>
<html lang="es" xml:lang="es">
<head>
	{% include head.html %}
</head>

<body>
	<div id="wrapper"></div>
	<header>
		{% include header.html %}
	</header>

	<main class="historia">
	<ul class="breadcrumbs">
		<li>Historia</li>
		</ul>

		<div class="paghistoria">
			<h1>HISTORIA</h1>
			<hr>
			</hr>
			<p>El evento creado por el colectivo la organización CIOFF, será patrocinado, este año juntamente con el departamento de cultura de la Generalidad de Cataluña.</p>

			<p>El evento fue creado por la asociación CIOOF (Consejo Internacional de Organizaciones de Festivales de Folclore y de las Artes Tradicional) el 12 de agosto del 2013, con la finalidad de hacer más conocidas las culturas y tradiciones de otras regiones del mundo, además de fomentar el uso de aparatos modernos para eventos de estas características.</p>

			<p>Siete meses más tarde, del 2 al 4 de marzo del 2014, se organizó la 1. ºedición bajo el nombre Hanami Internacional folk festival 2014, celebrado en Tokio Japón, coincidiendo con la fiesta tradicional de flores japonesas (Hanami).</p>

			<p>Tras el éxito inicial, el Internacional folk Festival volvió en 2015 con una edición que abarco toda una semana desarrollada durante el mes de marzo esta vez teniendo como sede la ciudad mexicana de Veracruz, coincidiendo con las fiestas nacionales de Cumbre Tajín, festividad que celebra la bienvenida de la primavera,esta edición se presento bajo en nombre Cumbre Tajín Internacional folk festival 2015.</p>
		</div>
	</main>

	<footer>
		{% include footer.html %}
	</footer>
</body>

</html>
