<!DOCTYPE html>
<html lang="es" xml:lang="es">
<head>
	{% include head.html %}
</head>

<body>
	<div id="wrapper"></div>
	<header>
		{% include header.html %}
	</header>

	<main class="meraki">
	<ul class="breadcrumbs">
		<li>Historia</li>
		<li><a href="meraki.html">> Meraki</a></li>
		</ul>

		<div class="merakis">
			<h1>MERAKI</h1>
			<hr>
			</hr>
				<div class="texto">
				<p>Es un festival de danza folclórica mundial que intenta reflejar la importancia que tiene la danza como medio de expresión con otras culturas del mundo fusiónando la modernidad y lo tradicional.
	            </p>
				<p>Meraki es una palabra de origen griego que quiere decir: “Hacer algo con el alma, con amor, creatividad y dejar un pedazo de ti el trabajo”</p>
				</div>

				<div class="video">
						<video style="width:500px;height:300px" controls>
	    				<source src="video/lorde.mp4" type="video/mp4">
	    				</video>
				</div>
		</div>
		</div>
	</main>

	<footer>
		{% include footer.html %}
	</footer>
</body>

</html>
