<!DOCTYPE html>
<html lang="es" xml:lang="es">
<head>
	{% include head.html %}
</head>

<body>
	<div id="wrapper"></div>
	<header>
		{% include header.html %}
		<link href="css/pages/programa.css" rel="stylesheet" type="text/css">
	</header>

	<main class="programa">
		<!-- Navigation links -->
		<ul class="breadcrumbs">
			<li>Historia</li>
			<li><a href="meraki">> Meraki</a></li>
			<li><a href="programa">> Programa</a></li>
		</ul>
		<!-- Content -->
		<div class="programa">
			<h1>Programa</h1>
			<div class="box">
				<img src="img/marruecos.jpg" />
				<div class="text-shadow">
					<div class="text">
						<span class="date">ABR 28</span><br/>
						<span class="place">Japón</span><br/>
						<span class="dancer">Nihon Buyo</span><br/>
					</div>
				</div>
			</div>
			<div class="box">
				<img src="img/marruecos.jpg" />
				<div class="text-shadow">
					<div class="text">
						<span class="date">ABR 28</span><br/>
						<span class="place">Japón</span><br/>
						<span class="dancer">Nihon Buyo</span><br/>
					</div>
				</div>
			</div>
			<div class="box">
				<img src="img/marruecos.jpg" />
				<div class="text-shadow">
					<div class="text">
						<span class="date">ABR 28</span><br/>
						<span class="place">Japón</span><br/>
						<span class="dancer">Nihon Buyo</span><br/>
					</div>
				</div>
			</div>
			<div class="box">
				<img src="img/marruecos.jpg" />
				<div class="text-shadow">
					<div class="text">
						<span class="date">ABR 28</span><br/>
						<span class="place">Japón</span><br/>
						<span class="dancer">Nihon Buyo</span><br/>
					</div>
				</div>
			</div>
			<div class="box">
				<img src="img/marruecos.jpg" />
				<div class="text-shadow">
					<div class="text">
						<span class="date">ABR 28</span><br/>
						<span class="place">Japón</span><br/>
						<span class="dancer">Nihon Buyo</span><br/>
					</div>
				</div>
			</div>
			<div class="box large">
				<img src="img/marruecos.jpg" />
				<div class="text-shadow">
					<div class="text">
						<span class="date">ABR 28</span><br/>
						<span class="place">Japón</span><br/>
						<span class="dancer">Nihon Buyo</span><br/>
					</div>
				</div>
			</div>
			<div class="box">
				<img src="img/marruecos.jpg" />
				<div class="text-shadow">
					<div class="text">
						<span class="date">ABR 28</span><br/>
						<span class="place">Japón</span><br/>
						<span class="dancer">Nihon Buyo</span><br/>
					</div>
				</div>
			</div>
		</div>
	</main>

	<footer>
		{% include footer.html %}
	</footer>
</body>

</html>
