<!DOCTYPE html>
<html lang="es" xml:lang="es">
<head>
	{% include head.html %}
</head>

<body>
	<div id="wrapper"></div>
	<header>
		{% include header.html %}
		<link href="css/pages/programa.css" rel="stylesheet" type="text/css">
	</header>

	<main class="programa">
		<!-- Navigation links -->
		<ul class="breadcrumbs">
			<li>Historia</li>
			<li><a href="meraki.html">> Meraki</a></li>
			<li><a href="programa.html">> Programa</a></li>
		</ul>
		<!-- Content -->
		<div class="programa">
			<h1>Programa</h1>
			<div class="box">
				<img src="img/japon.jpg" />
				<div class="text-shadow">
					<div class="text">
						<span class="date">ABR 28</span><br/>
						<span class="place">Japón</span><br/>
						<span class="dancer">Nihon Buyo</span><br/>
					</div>
				</div>
			</div>
			<div class="box">
				<img src="img/marruecos.jpg" />
				<div class="text-shadow">
					<div class="text">
						<span class="date">ABR 28</span><br/>
						<span class="place">Marruecos</span><br/>
						<span class="dancer">Danza Barbari</span><br/>
					</div>
				</div>
			</div>
			<div class="box">
				<img src="img/cuba.jpg" />
				<div class="text-shadow">
					<div class="text">
						<span class="date">ABR 28</span><br/>
						<span class="place">Cuba</span><br/>
						<span class="dancer">Cha cha chá</span><br/>
					</div>
				</div>
			</div>
			<div class="box">
				<img src="img/españa.jpg" />
				<div class="text-shadow">
					<div class="text">
						<span class="date">ABR 28</span><br/>
						<span class="place">España</span><br/>
						<span class="dancer">Sevillanas</span><br/>
					</div>
				</div>
			</div>
			<div class="box">
				<img src="img/ghana.jpg" />
				<div class="text-shadow">
					<div class="text">
						<span class="date">ABR 28</span><br/>
						<span class="place">Ghana</span><br/>
						<span class="dancer">Adowa</span><br/>
					</div>
				</div>
			</div>
			<div class="box large">
				<img src="img/ecuador.jpg" />
				<div class="text-shadow">
					<div class="text">
						<span class="date">ABR 28</span><br/>
						<span class="place">Ecuador</span><br/>
						<span class="dancer">Baile San Pedro</span><br/>
					</div>
				</div>
			</div>
			<div class="box">
				<img src="img/serbia.jpg" />
				<div class="text-shadow">
					<div class="text">
						<span class="date">ABR 28</span><br/>
						<span class="place">Serbia</span><br/>
						<span class="dancer">Zorba</span><br/>
					</div>
				</div>
			</div>
		</div>
	</main>

	<footer>
		{% include footer.html %}
	</footer>
</body>

</html>
